<!DOCTYPE html>

<html lang="en" xmlns="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=800, initial-scale=1.0" />

    <title>Alumnos</title>
</head>
<body>
    <h1>Comunidad IT</h1>
    <h2>Alumnos</h2>

    <div>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>

            </tr>
            <tr>
                <td>valor1</td>
                <td>valor2</td>

            </tr>
        </table>
    </div>
    
    <li><a href="agregarAlumno.html">Agregar</a></li>
    <li><a href="listarAlumno.html">Listar</a></li>
    <a href="../index.html">volver</a>

</body>
</html>